/* details.component.scss */

.details-container {
  display: none;
  flex-direction: column;
  background-color: white;
  padding: 16px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 16px;
  border-radius: 4px;
}

.show-details {
  display: flex;
}

.character-details {
  display: flex;
  align-items: center;
}

.character-image {
  width: 200px;
  height: 200px;
  margin-right: 16px;
}

.character-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.character-info {
  flex: 1;
}

button {
  margin-top: 16px;
}
